/*#region partSuperior */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  max-width: 1400px;
}

nav {
align-self: center;
text-align: center;
border-top: 1px solid #8A8070;    /*rayita arriba*/
border-bottom: 1px solid #8A8070; /*rayita abajo*/
padding: 12px;                    /*rayita margen*/
margin-bottom: 20px;                /*separa del body*/
  position: fixed;
  top: 150px;
  width: 100%;
  background-color: white;
max-width: 1400px;
}

nav a {
    margin: 15px;
}

.menu {
color: black;
text-decoration: none;    /*Quita subrayadito de los enlaces*/
}

.menu:hover {
color: #7ABA96;
}/*#region partSuperior */

/*#region PartMitja */

body {

    position: relative;
    font-family: "Open Sans", Arial, sans-serif;
    max-width: 1400px;
    align-self: center;
    margin: auto;
        margin-top: 220px;
}

.receptes {
  float: right;
  width: 70%;
  height: auto;
  margin-bottom: 50px;
}


.recepta {
  text-align: center;
  width: 400px;
  height: 400px;
  display: inline-block;
  padding: 10px;
}

.foto_recepta:hover {
opacity: 0.6;
}

.contenidor_imatge {
background: #7ABA96;
height: 267px;
}

.fecha {
  text-align: center;
  border-top: 1px solid #7ABA96;
  border-bottom: 1px solid #7ABA96;
  padding: 4px;
}

.texto {
  text-align: justify;
}/*#region PartMitja */

/*#region Costat esquerre ÍNDEX.html*/

/*aside {
  float: left;
  width: 20%;
  height: auto;
  margin-left: 5%;
}*/

.aboutme_subscribe {
  float: left;
  width: 20%;
  height: auto;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  }

.foto-nosaltres{
 border-radius:5px;
}

.aboutme{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.aboutmetext {
    color: #8A8070
    }

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
    background: #eeeeee;
  }

.boto_apuntam {
  display: table;
  height: 30px;
  width: 100%;
  background: #7ABA96;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.boto_apuntam:hover {
  background: #222222;
}

.boto_apuntam p:hover {
    color: white;
}

.boto_apuntam p {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  color: black;
  font-weight: bold;


}/*#region Costat esquerre ÍNDEX.html*/

/*#region partInferior */

footer {

  clear: both;
  align-self: center;
  text-align: center;
  background-color: #222222;
  padding: 2%;

}
.boto_footer {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin: 0 15px;
}

a:hover{color: #7ABA96}

/*#region partInferior */

/*#region Recepta.html */

.recipe{
  max-width: 1400px;
  margin-left: 10%;
  margin-right: 10%;
}

.columna-esq-66 {
  width: 70%;
  float: left;
  display: block;
  flex-direction: column;
  padding: 1%;
}

.columna-dreta-33 {
  width: 25%;
  float: right;
  display: block;
  flex-direction: column;
  padding: 1%;
}

.recepta_full{
  text-align: justify;
  text-justify: inter-word;
}

.portada {
  align-self: center;
  height: 200px;
  object-fit: cover;
}

.titol-recepta{
  font-size: 30px;
}

.data-recepta{
}

.descripcio{
font-style: italic;
}

.body-recepta{

}

.publicitat{
  margin-top: 20%;
}

.sub-titol {
color: #7ABA96;
}
/*#region Recepta.html */

/*#region llistat.html */

.llistat {
  float: right;
  width: 70%;
}

.element_llistat {
display: flex;
min-height: 170px;
border-bottom: 1px solid #7ABA96;
padding-top: 20px;
padding-bottom: 20px;
}

.element_llistat p {
margin-bottom: 0;
margin-top: 2px;
}

.llistat_descripcio {
  text-align: justify;
  width: 75%;
  margin-left: 10px;
}

.llistat_descripcio h2 {
margin: 0;
}

.caracteristica_llistat_descripcio {
width: 24%;
min-width: 100px;
display: inline-block;
}

.logo_llistat {
margin-top: 10px;
height: 50px;
display:inline-block;
margin-bottom: 0;
margin-right: 10px;
}

.contenidor_imatge_llistat_descripcio {
background: #7ABA96;
height: 170px;
}


.paginador {
width: 550px;
height: 30px;
margin-top: 20px;
margin-bottom: 20px;
background-color: #eeeeee;
display: flex;

}

.boto_paginador, .boto_paginador_extrem, .boto_paginador_seleccionat {
    display: table;
    width: 50px;
    height: 100%;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.boto_paginador_extrem {
background: #7ABA96;
}

.boto_paginador p, .boto_paginador_extrem p, .boto_paginador_seleccionat p {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  color: black;
  font-weight: bold;
}

.boto_paginador_seleccionat p {
color: #7ABA96;
}

.boto_paginador:hover p {
color: #7ABA96;}

.boto_paginador_extrem:hover {
  background: #222222;
}

.boto_paginador_extrem p:hover {
    color: white;
}

/*#region llistat.html */

/* Formulari de contacte */

.columna-dreta-66 {
  width: 70%;
  float: right;
  display: block;
  flex-direction: column;
  padding: 1%;
}

.columna-esq-33 {
  width: 25%;
  float: left;
  display: block;
  flex-direction: column;
  padding: 1%;
}

form {
  max-width: 800px;
  height: 700px;
  padding: 20px;
  background-color: #7ABA96;
}

label {
  display: block;
  margin-bottom: 1%;
  font-weight: bold;
}

input {
  display: block;
  width: 95%;
  padding: 10px;
  margin-bottom: 1%;
}

textarea {
  display: block;
  width: 95%;
  padding: 10px;
  margin-bottom: 1%;
}

button[type="submit"] {
  padding: 10px 20px;
}

input:focus{
  outline: none;
}

textarea:focus {
  outline: none;

}

.publicitat{
outline-style: solid;
outline-width: 1px;
outline-color: gray;

}